$my-max-width: 1370px;
$myWidth: 100%;
$myHeight:100%;
$breakpoint: 799px;
$nav-height: 70px;
$banner-height: 500px;
$nav-background: #262626;
$banner-foto1: url(../images/2.jpg) no-repeat center;
$banner-cover: url(../images/smoke.png) repeat;
$banner-cover2: url(../images/smoke2.png) repeat;
$bg-img1: url(../images/bg1.jpg) no-repeat center;
@mixin banner-foto-config {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

html{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    min-height:100%;
    font-family: Georgia;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    width: 100%;
    max-width: $my-max-width;
    margin: 0 auto;
}

.section{
    display: flex;
    flex-wrap: wrap;
  }
  
aside{ flex-basis: 100%; }
.row{ flex-direction: row; }
.row-full{ display: flex; flex-direction: row; }

.column{ flex-direction: column; }
.flex-basis-100{ flex-basis: 100%; }
.flex-basis-50{ flex-basis: 50%; }

.flex1{flex: 1;}
.flex2{flex: 2;}
.flex3{flex: 3;}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card{
    flex: 0 0 200px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: white;
    /*box-shadow: 1px 1px 3px 0px #CCC;*/
    .text{
        padding: 0 20px 20px;
        span{
            font-weight: bold;
            font-size: 14px;
        }
        p{ margin-top: 2px;
            font-size: 14px;
        }
        button{
            padding: 3px;
            &:hover, :active{
                background-color: #2581DC;
                color: white;
                border: 2px solid #ccc;
            }
        }
    }
}

.card img {
    max-width: 100%;
}

.mini-menu{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #CCC;
    margin-bottom: 20px;
}

.mini-menu-desc{
    width: $myWidth;
    padding: 10px 20px;
    img{ width: 90px; border:3px solid white; background-color: white;}
    article{
        background-color: #f7f7f7;
        a{
            text-decoration: none;
            color: #2581DC;
        }
    }
}

.block{ display: block; }

.full-width{ width: $myWidth; }
.w-70{ width: 70%; }
.mw-30em{ max-width: 30em; }
.mw-40em{ max-width: 40em; }
.mw-50em{ max-width: 50em; }
.mw-55em{ max-width: 55em; }
.mw-60em{ max-width: 60em; }
.min-height-50{ min-height: 50%; }

.mt-10px{ margin-top: 10px; }
.mt-20px{ margin-top: 20px; }
.mt-30px{ margin-top: 30px; }
.mb-30px{ margin-bottom: 30px; }
.mt-70px{ margin-top: 70px; }
.mb-70px{ margin-bottom: 70px; }
.mt-100px{ margin-top: 100px; }
.mt-40{margin-top: 40%;}
.mt-50{margin-top: 50%;}
.mt-100{margin-top:100%;}
.mlr-auto{margin-left: auto; margin-right: auto;}

.pd1{padding: 10px;}
.pd-l1{padding-left: 10px;}
.pdt-100{padding-top: 100px;}

.ff-georgia{font-family: Georgia;}
.ff-verdana{font-family: Verdana;}
.f-bold{font-weight: bold;}
.fs-20{font-size: 20px;}
.fs-30{font-size: 30px;}
.fs-40{font-size: 40px;}

.bg-tomato{background-color: tomato;}
.bg-blue{background-color: blue;}
.bg-white{background-color: white;}
.bg-img1{background: $bg-img1; background-origin: border-box; background-position: center; background-size: cover;}
.bg-smoke{background: url(../images/smoke2.png);}
.color-blu{color: #2581DC;}
.hover-blue{
    :hover{
        background-color: #2581DC;
        color: white;
    }
}

.t-white{color: white;}
.ta-center{text-align: center;}

.input-group{
    vertical-align: text-top;
    width: 100%;
    max-width: 60em;
    display: inline-block;
    input{
        border:1px solid #ccc;
        border-radius: 5px 0px 0px 5px;
        width: 70%;
        max-width: 400px;
        padding: 12px;
    }
    span{
        /*background-color: #2581DC;*/
        border-radius: 0px 5px 5px 0px;
        width: 30%;
        padding: 11px 12px 12px 12px;
        cursor: pointer;
        &:hover{
            background-color: #2581DC;
            color: white;
        }
    }
}

.input-control{
    margin-top: 10px;
    input{
        border: 1px solid #CCC;
        border-radius:4px;
        padding: 5px;
        &:hover, :focus{
            border-color: #2581DC;
        }
    }
    label{
        padding:5px 0px;
    }
}

.va-t{ vertical-align: text-top; }

.header-section{
    max-width: $my-max-width;
    width: 100%;
    height: $myHeight;
    min-height: $myHeight;
    background: $banner-foto1;
    @include banner-foto-config;
}

.banner{
    display: flex;
    flex-flow: column;
    width: $myWidth;
    height: $myHeight;
    min-height: $myHeight;
    background: $banner-cover;
}

header{
    width: $myWidth;
    height: $nav-height;
    min-height: $nav-height;
    background: $banner-cover2;
    display: inline-block;
    div{
        max-width: $myWidth;
        margin: 0 auto;
    }
}

.bottom-line{
    border-bottom:2px solid #dbd8d8;
}
  
  // Logo and branding
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;
    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}
  
// Navigation 
nav {
    float: right;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        li {
            float: left;
            position: relative;
            a,
            a:visited {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                background: transparent;
                color: $nav-font-color;
                text-decoration: none;
                &:hover {
                    background: tomato;
                    color: $nav-font-color;
                }
            }
        }
    }
}
  
/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: $nav-height 0 15px;
        ul {
            display: none;
            li {
                float: none;
                background: $banner-cover2;
                a {
                    padding: 15px;
                    line-height: 20px;
                }
                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }
}
  
@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    span:before {
        top: -10px;
    }
    span:after {
        bottom: -10px;
    }
    &.active span {
        background-color: transparent;
        &:before,
        &:after {
        top: 0;
        }
        &:before {
        transform: rotate(45deg);
        }
        &:after {
        transform: rotate(-45deg);
        }
    }
}

footer{
    width: $myWidth;
    min-height: 400px;
    background-image: url(../images/footer2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    a{text-decoration: none;color: white;}
    .arttext{
        width: 90%;
        max-width: 200px;
        padding: 0 20px;
        hr{color: white;}
    }
}

/* The Modal (background) https://www.w3schools.com/howto/howto_css_modals.asp*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 1px solid #EEE;
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .closeLogin {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeLogin:hover,
  .closeLogin:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    border-bottom: 1px solid #bbb;
    line-height: 40px;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    border-top: 1px solid #bbb;
    line-height: 40px;
  }

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
